---
---

	<section class="credits">
		<h2>Credits</h2>
		<p>Car Animation: Donavon Brutus</p>
		<p>Web Development: Caleb Diehl</p>
		<p>Creative Direction: Darrell Allen</p>
		<p>Text: Ingrid Lobet</p>

	</section>

    <style>

	.credits {
		color: var(--text-primary);
	}

    h2 {
        /* Desktop - Interactives/H1 */
        font-family: "AP";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 116.667% */
        letter-spacing: -0.288px;
		padding: 8px 0;
    }

    .credits {
		max-width: 660px;
		margin: 0 auto;
		padding: 80px 16px;
	}

	.credits p {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 300;
		padding: 8px 0;
	}

	.data-note {
		color: lightgrey;
		padding: 48px 0;
	}
    </style>
