
---
//@ts-nocheck
---


<div class="container">
    <h1 class="title">How <strong style="color:#fff;">80%</strong> of your car's gas tank goes to waste</h1>
    <img width="100%" src="./car_hero.png"></img>
</div>




<style>
    .container {
        width: 100%;
        height: 100vh;
        background: linear-gradient(318deg, #2B2B2B 16%, rgba(0, 0, 0) 38%);
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .title {
        color: #B6B6B6;
        text-align: center;
        font-family: "AP";
        font-size: 48px;
        font-style: normal;
        font-weight: 274;
        line-height: 64px; /* 133.333% */
        letter-spacing: -0.384px;
    }

    .gradient {
       background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 69.97%, #000 99.82%);
    }
</style>